<a href="https://colab.research.google.com/github/ferromagnaperdana/sic_batch_5/blob/main/Week_2_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Example 1
Buat sebuah program yang jika kita berikan sebuah


Input = [800,600,400,200]


Compared_input = [500,200,400]


Maka akan menghasilkan output [0,0,1,1]! Usahakan tidak menggunakan list baru!

In [ ]:
def compare_input(input_data, compared_input):
  output = []

  for i in input_data:
    if i in compared_input:
      output.append(1)
    else:
      output.append(0)
  return output

#untuk menerima input
input_data = list(map(int, input("Masukkan input (pisahkan dengan koma): ").split(',')))
compared_input = list(map(int, input("Masukkan input (pisahkan dengan koma): ").split(',')))

#memanggil fungsi
print(compare_input(input_data, compared_input))

Masukkan input (pisahkan dengan koma): 800,600,400,200
Masukkan input (pisahkan dengan koma): 500,200,400
[0, 0, 1, 1]

#Challenge 1

Buat sebuah program yang jika kita berikan sebuah


Input = [100,200,300,400,500]


Compared_input = [500,200,400]


Maka akan menghasilkan output [100,0,300,0,0]!

Usahakan tidak menggunakan list baru!

In [ ]:
def compare_input(input_data, compared_input):
  output = []

  for i in input_data:
    if i not in compared_input:
      output.append(i)
    else:
      output.append(0)
  return output

#untuk menerima input
input_data = list(map(int, input("Masukkan input (pisahkan dengan koma): ").split(',')))
compared_input = list(map(int, input("Masukkan input (pisahkan dengan koma): ").split(',')))

#memanggil fungsi
print(compare_input(input_data, compared_input))

Masukkan input (pisahkan dengan koma): 100,200,300,400,500
Masukkan input (pisahkan dengan koma): 500,200,400
[100, 0, 300, 0, 0]

In [ ]:
def compare_input(input_data, compared_input):
    output = []

    for item in input_data:
        if item in compared_input:
            output.append(0)
        else:
            output.append(item)

    return output

# Menerima input dari pengguna
input_data = list(map(int, input("Masukkan input (pisahkan dengan koma): ").split(',')))
compared_input = list(map(int, input("Masukkan compared_input (pisahkan dengan koma): ").split(',')))

# Memanggil fungsi compare_input dan mencetak outputnya
print(compare_input(input_data, compared_input))

Masukkan input (pisahkan dengan koma): 100,200,300,400,500
Masukkan compared_input (pisahkan dengan koma): 500,200,400
[100, 0, 300, 0, 0]

In [ ]:
input_data =[100, 200, 300, 400, 500]
compared_data = [500, 200, 400]

#Iterasi dg elemen input

for i in range(len(input_data)):
  if input_data[i] in compared_data:
    input_data[i] = 0

print(input_data)

[100, 0, 300, 0, 0]

#Example 2

Buat sebuah program dimana jika input yang diberikan adalah


Input = [
    {‘nama’: 'Budi',’nilai’: 90},
    {'nama': 'Dwi', ‘nilai’: 85},
    {'nama': 'Tri', ‘nilai’:75},
]


Output = {
“nilai_tertinggi”: “Budi”,
“nilai_terendah”: “Tri”
}

In [ ]:
def nilai_tertinggi_terendah(data):
  nilai_tertinggi = max(data, key=lambda x: x['nilai'])['nama']
  nilai_terendah = min(data, key=lambda x: x['nilai'])['nama']
  return {'nilai_tertinggi' : nilai_tertinggi, 'nilai_terendah' : nilai_terendah}

#input data
input_data = [
    {'nama': 'Budi', 'nilai': 90},
    {'nama': 'Dwi', 'nilai': 85},
    {'nama': 'Tri', 'nilai': 75}
]

#panggil fungsi
output = nilai_tertinggi_terendah(input_data)
print(output)

{'nilai_tertinggi': 'Budi', 'nilai_terendah': 'Tri'}

#Challenge 2!

Buat sebuah program dimana jika input yang diberikan adalah


Input = [
    {'nama': 'Budi','gaji': 5000},
    {'nama': 'Dwi', 'gaji': 8000},
    {'nama': 'Joko', 'gaji': 6000}
]


Output = {
“highest_salary”: “Dwi”,
“total_salary”: 19000
}

In [ ]:
#double dictionary
data = {
    'toko1': {'barang1' : 1000, 'barang2': 2000},
    'toko2': {'barang1' : 1500, 'barang2': 2500}
}

#akses
print('harga barang1 di toko1: ', data['toko1']['barang1'])

harga barang1 di toko1:  1000

In [ ]:
#Raymond
data = [
    {'nama': "budi", 'gaji':5000},
    {'nama': 'Dwi', 'gaji': 8000},
    {'nama': 'Joko', 'gaji': 6000}
]

def hitung_gaji(data):

    sum_gaji = 0
    gaji_tertinggi = 0
    nama = ""

    for i in data:
        sum_gaji += i['gaji']
        if i['gaji'] > gaji_tertinggi:
            gaji_tertinggi = i['gaji']
            nama = i['nama']

    # output dr dict
    output = {
        "gaji tertinggi": nama,
        "total gaji seluruhnya": sum_gaji
    }

    return output

print (hitung_gaji(data))

{'gaji tertinggi': 'Dwi', 'total gaji seluruhnya': 19000}

In [ ]:
#Ali
Input = [
    {'nama': 'Budi', 'gaji': 5000},
    {'nama': 'Dwi', 'gaji': 8000},
    {'nama': 'Joko', 'gaji': 6000}
]

highest_salary = max(Input, key=lambda x: x['gaji'])['nama']
total_salary = sum(employee['gaji'] for employee in Input)

Output = {
    "highest_salary": highest_salary,
    "total_salary": total_salary
}

print(Output)

{'highest_salary': 'Dwi', 'total_salary': 19000}

#Example3!

Buat sebuah program dimana jika input yang diberikan adalah

Input 1

data_toko = {
    "Indoramet":{
        "Ayam": 30000,
        "Sayur": 15000,
        "Buah": 20000,
        "Ikan": 22000
    }
}

Input 2

items_to_buy = {
    "Ayam":2,
    "Sayur":1,
    "Ikan":1
}


Output = 97000

Rincian
Ayam : 2 * 30.000 = 60.000
Sayur : 1 * 15.000 = 15.000
Ikan : 1 * 22.000 = 22.000

In [ ]:
def total_belanja(data_toko,to_buy):
  total_cost=0

  for item, quantity in items_to_buy.items():
    if item in data_toko:
      total_cost += data_toko[item] * quantity
  return total_cost

#data

data_toko = {
    "Indomaret" : {
        "Ayam": 30000,
        "Sayur": 15000,
        "Buah": 20000,
        "Ikan": 22000
    }
}

items_to_buy = {
    "Ayam": 2,
    "Sayur": 1,
    "Ikan": 1
}

#total belanja
total_cost = total_belanja(data_toko["Indomaret"], items_to_buy)

#cetak hasil
print("Output = ", total_cost)

Output =  97000

#Challenge 3!

Buat sebuah program dimana jika input yang diberikan adalah

Hint: Cari harga termurah untuk setiap item antara 2 toko tersebut

Input 1

input = {
    "Indoramet":{
        "Ayam": 30000,
        "Sayur": 15000,
        "Buah": 20000,
        "Ikan": 22000
    },
    "Alfaramet":{
        "Ayam": 25000,
        "Sayur": 12000,
        "Buah": 30000,
        "Ikan": 25000
    }
}


Input 2

items_to_buy = {
    "Ayam":2,
    "Sayur":1,
    "Ikan":1
}


Output = 84000

Rincian
Ayam : 2 * 25.000 = 50.000
Sayur : 1 * 12.000 = 12.000
Ikan : 1 * 22.000 = 22.000

In [ ]:
def calculate_total_cost(input_data, items_to_buy):
    total_cost = 0

    for item, quantity in items_to_buy.items():
        min_price = float('inf')
        for store, prices in input_data.items():
            if item in prices:
                min_price = min(min_price, prices[item])
        total_cost += min_price * quantity

    return total_cost

# Data toko dan barang yang akan dibeli
input_data = {
    "Indoramet": {
        "Ayam": 30000,
        "Sayur": 15000,
        "Buah": 20000,
        "Ikan": 22000
    },
    "Alfaramet": {
        "Ayam": 25000,
        "Sayur": 12000,
        "Buah": 30000,
        "Ikan": 25000
    }
}

items_to_buy = {
    "Ayam": 2,
    "Sayur": 1,
    "Ikan": 1
}

# Menghitung total biaya belanja
total_cost = calculate_total_cost(input_data, items_to_buy)

# Mencetak output
print("Output =", total_cost)

Output = 84000

In [ ]:
def total_harga_termurah(input_data, items_to_buy):
    total_harga = 0

    for item, qty in items_to_buy.items():
        harga_termurah = min(input_data["Indoramet"][item], input_data["Alfaramet"][item])
        total_harga += harga_termurah * qty

    return total_harga

input_data = {
    "Indoramet": {
        "Ayam": 30000,
        "Sayur": 15000,
        "Buah": 20000,
        "Ikan": 22000
    },
    "Alfaramet": {
        "Ayam": 25000,
        "Sayur": 12000,
        "Buah": 30000,
        "Ikan": 25000
    }
}

items_to_buy = {
    "Ayam": 2,
    "Sayur": 1,
    "Ikan": 1
}

total = total_harga_termurah(input_data, items_to_buy)
print("Output =", total)

Output = 84000

In [ ]:
# Input data
input_data = {
    "Indoramet": {
        "Ayam": 30000,
        "Sayur": 15000,
        "Buah": 20000,
        "Ikan": 22000
    },
    "Alfaramet": {
        "Ayam": 25000,
        "Sayur": 12000,
        "Buah": 30000,
        "Ikan": 25000
    }
}

items_to_buy = {
    "Ayam": 2,
    "Sayur": 1,
    "Ikan": 1
}

# Calculate the total cost
total_cost = find_cheapest_prices(input_data, items_to_buy)

# Print the output
print("Output =", total_cost)

NameError: name 'find_cheapest_prices' is not defined

In [ ]:
# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.
input_data = {
    "Indoramet": {
        "Ayam": 30000,
        "Sayur": 15000,
        "Buah": 20000,
        "Ikan": 22000
    },
    "Alfaramet": {
        "Ayam": 25000,
        "Sayur": 12000,
        "Buah": 30000,
        "Ikan": 25000
    }
}

items_to_buy = {
    "Ayam": 2,
    "Sayur": 1,
    "Ikan": 1
}

def calculate_cheapest_price(input_data, items_to_buy):
    total_price = 0

    for item, quantity in items_to_buy.items():
        cheapest_price = min(input_data[toko][item] for toko in input_data)
        total_price += cheapest_price * quantity

    return total_price

output = calculate_cheapest_price(input_data, items_to_buy)
print(output)

84000